/*
code this file by Caocap team @salehalthini
Copyrigth 2020 © All rigth Reserved
*/
@font-face {
  font-family: "earthorbiter";
  src: url("../fonts/earthorbiter.ttf");
}
@font-face {
  font-family: "NeoSansArabic";
  src: url("../fonts/NeoSansArabic.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: NeoSansArabic;
}

.App {
  text-align: center;
}
p {
  font-size: 40px;
  font-family: earthorbiter;
  margin: auto 8px auto 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: left;
  min-height: 10vh;
  max-height: 10vh;
  margin-top: 1px;
  background-color: #292d39;
  color: white;
}
nav img {
  margin: auto 8px auto 50px;
  width: 50px;
  height: 50px;
}
.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
nav button {
  margin: auto 0 auto 0;
  width: 120px;
  color: white;
  background-color: #00a6ff;
  border: 1px solid #00a6ff;
  border-radius: 12px;
  height: 30px;
}
#signup:hover,#login:hover {
  background-color: white;
  border: none;
  color: #000;
}
#login{
  background-color: rgba(0, 0, 0, 0);
  border:2px solid #00a6ff;
  margin-right: 50px;
  margin-left: 20px;
}

#authCard {
  background-color: white  ;
  height: 200px;
  width: 40%;
  display: inline-block;
  border-radius: 10px;
  padding: 5% 5%;
  
}
nav input {
  width: 20%;
  height: 30%;
  border-radius: 10px;
  padding: 3px;
  margin-right: 20%;
  margin-top: 30px;
  background-color: #181c28;
  color: white;
}
ul,
li,
Link {
  text-decoration: none;
}

