/*
code this file by Caocap team @salehalthini
Copyrigth 2020 © All rigth Reserved
*/
@font-face {
  font-family: "Calluna";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff")
    format("woff");
}
body {
  background-color: #181c28;
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
  margin-top: 110px;

}
#columns {
  column-width: 320px;
  column-gap: 15px;
  max-width: 1100px;
  margin: 50px auto;
  display: inline;
}

div#columns figure {
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
  margin: 10px 10px 15px;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}






div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns {
    column-gap: 0px;
  }
  #columns figure {
    width: 100%;
  }
}

.formBody {
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
}

.wrapper{
	width:380px;
	background:#161B21;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  } 
  .wrapper .title{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	color:#fff;
	user-select: none;
	border-radius: 15px 15px 0 0;
	background:#00C5FF;
  }
  .wrapper form{
	padding:10px 30px 50px 30px;
  }
  .wrapper form .field{
	height:50px;
	width:100%;
	margin-top:20px;
	position: relative;
  }
  .wrapper form .field input{
	height:100%;
	width:100%;
	outline:none;
	font-size: 20px;
	padding-left: 20px;
	border:1px solid lightgray;
	border-radius: 25px;
	transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
	border-color:#00C5FF;
  }
  /* .wrapper form .field label{
	position:absolute;
	top:50%;
	left:20px;
	color:#999;
	font-weight: 400;
	font-size: 17px;
	pointer-events: none;
	transform:translateY(-50%);
  } */
  /* form .field input:focus ~ label,
  form .field input:valid ~ label{
	visibility: hidden;
	font-size: 16px;
  } */
  form .content{
	display:flex;
	width:100%;
	height:50px;
	font-size: 16px;
	align-items:center;
	justify-content:space-between;
  }
  form .content .checkbox{
	display:flex;
	align-items:center;
	justify-content:center;
  }
  form .content input{
	width:15px;
	height:15px;
  }
  form .content label{
	color:#262626;
	user-select: none;
	padding-left:5px;
  }
  form .content .pass-link a{
	color:#00C5FF;
  }
  form .field input[type="submit"]{
	color:#fff;
	border:none;
	padding-left:0;
	margin-top:-10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	background:#00C5FF;
	transition:all 0.3s ease;
  }
  form .field input[type="submit"]:active{
	transform:scale(0.95);
  }
  form .signup-link{
	color:#fff;
	margin-top:20px;
	text-align: center;
  }
  form .pass-link a,
  form .signup-link a{
	color:#00C5FF;
	text-decoration: none;
  }
  form .pass-link a:hover,
  form .signup-link a:hover{
	 text-decoration: underline;
  }
  
  
.Login {
	margin-top:0.5px !important;
}

.errorMessage {
	font-size: 13px;
	color: white;
	padding-bottom: 30px;
	background-color:#00C5FF ;
}


.field ::placeholder {
	font-size: 16px;
	font-weight: 400;
	position:absolute;
	top:50%;
	left:20px;
	color:#999;
	font-weight: 400;
	font-size: 17px;
	pointer-events: none;
	transform:translateY(-50%);
}
