/*
code this file by Caocap team @salehalthini
Copyrigth 2020 © All rigth Reserved
*/
.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: left;
  min-height: 10vh;
  background-color: rgb(71, 78, 80);
  color: white;
}

.nav-links {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

ul,
li,
Link {
  text-decoration: none;
}
